<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-departement-heading" data-cy="DepartementCreateUpdateHeading" jhiTranslate="dmnApp.departement.home.createOrEditLabel">
        Create or edit a Departement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.departement.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.departement.faculte" for="field_faculte">Faculte</label>
          <select class="form-control" id="field_faculte" data-cy="faculte" name="faculte" formControlName="faculte">
            <option *ngIf="!editForm.get('faculte')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="faculteOption.id === editForm.get('faculte')!.value?.id ? editForm.get('faculte')!.value : faculteOption"
              *ngFor="let faculteOption of facultesSharedCollection; trackBy: trackFaculteById"
            >
              {{ faculteOption.nom }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['faculte'])!.invalid && (editForm.get(['faculte'])!.dirty || editForm.get(['faculte'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['faculte'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
