<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="niveauXamXam">
      <h2 data-cy="niveauXamXamDetailsHeading"><span jhiTranslate="dmnApp.niveauXamXam.detail.title">Niveau Xam Xam</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ niveauXamXam.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.niveauXamXam.libelle">Libelle</span></dt>
        <dd>
          <span>{{ niveauXamXam.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.niveauXamXam.poids">Poids</span></dt>
        <dd>
          <span>{{ niveauXamXam.poids }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/niveau-xam-xam', niveauXamXam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
