<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="xamXam">
      <h2 data-cy="xamXamDetailsHeading"><span jhiTranslate="dmnApp.xamXam.detail.title">Xam Xam</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xamXam.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.xamXam.libelle">Libelle</span></dt>
        <dd>
          <span>{{ xamXam.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.xamXam.niveauXamXam">Niveau Xam Xam</span></dt>
        <dd>
          <div *ngIf="xamXam.niveauXamXam">
            <a [routerLink]="['/niveau-xam-xam', xamXam.niveauXamXam?.id, 'view']">{{ xamXam.niveauXamXam?.libelle }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xam-xam', xamXam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
