<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-caisse-mois-heading" data-cy="CaisseMoisCreateUpdateHeading" jhiTranslate="dmnApp.caisseMois.home.createOrEditLabel">
        Create or edit a Caisse Mois
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.valide" for="field_valide">Valide</label>
          <input type="checkbox" class="form-check" name="valide" id="field_valide" data-cy="valide" formControlName="valide" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.mensualite" for="field_mensualite">Mensualite</label>
          <select class="form-control" id="field_mensualite" data-cy="mensualite" name="mensualite" formControlName="mensualite">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                mensualiteOption.id === editForm.get('mensualite')!.value?.id ? editForm.get('mensualite')!.value : mensualiteOption
              "
              *ngFor="let mensualiteOption of mensualitesSharedCollection; trackBy: trackMensualiteById"
            >
              {{ mensualiteOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.membre" for="field_membre">Membre</label>
          <select class="form-control" id="field_membre" data-cy="membre" name="membre" formControlName="membre">
            <option *ngIf="!editForm.get('membre')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="membreOption.id === editForm.get('membre')!.value?.id ? editForm.get('membre')!.value : membreOption"
              *ngFor="let membreOption of membresSharedCollection; trackBy: trackMembreById"
            >
              {{ membreOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['membre'])!.invalid && (editForm.get(['membre'])!.dirty || editForm.get(['membre'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['membre'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.caisseMois.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
