<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-membre-heading" data-cy="MembreCreateUpdateHeading" jhiTranslate="dmnApp.membre.home.createOrEditLabel">
        Create or edit a Membre
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.sexe" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null">{{ 'dmnApp.EnumTypeSexe.null' | translate }}</option>
            <option *ngFor="let enumTypeSexe of enumTypeSexeValues" [value]="enumTypeSexe">
              {{ 'dmnApp.EnumTypeSexe.' + enumTypeSexe | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.cni" for="field_cni">Cni</label>
          <input type="text" class="form-control" name="cni" id="field_cni" data-cy="cni" formControlName="cni" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.adressDakar" for="field_adressDakar">Adress Dakar</label>
          <input
            type="text"
            class="form-control"
            name="adressDakar"
            id="field_adressDakar"
            data-cy="adressDakar"
            formControlName="adressDakar"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.situationMatrimoniale" for="field_situationMatrimoniale"
            >Situation Matrimoniale</label
          >
          <select
            class="form-control"
            name="situationMatrimoniale"
            formControlName="situationMatrimoniale"
            id="field_situationMatrimoniale"
            data-cy="situationMatrimoniale"
          >
            <option [ngValue]="null">{{ 'dmnApp.EnumCivilite.null' | translate }}</option>
            <option *ngFor="let enumCivilite of enumCiviliteValues" [value]="enumCivilite">
              {{ 'dmnApp.EnumCivilite.' + enumCivilite | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('situationMatrimoniale')!.invalid &&
              (editForm.get('situationMatrimoniale')!.dirty || editForm.get('situationMatrimoniale')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('situationMatrimoniale')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.adresseVacance" for="field_adresseVacance">Adresse Vacance</label>
          <input
            type="text"
            class="form-control"
            name="adresseVacance"
            id="field_adresseVacance"
            data-cy="adresseVacance"
            formControlName="adresseVacance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.profil" for="field_profil">Profil</label>
          <div>
            <img
              [src]="'data:' + editForm.get('profilContentType')!.value + ';base64,' + editForm.get('profil')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('profil')!.value"
              alt="membre image"
            />
            <div *ngIf="editForm.get('profil')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('profilContentType')!.value }}, {{ byteSize(editForm.get('profil')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('profil', 'profilContentType', 'file_profil')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_profil"
              data-cy="profil"
              (change)="setFileData($event, 'profil', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="profil" id="field_profil" data-cy="profil" formControlName="profil" />
          <input
            type="hidden"
            class="form-control"
            name="profilContentType"
            id="field_profilContentType"
            formControlName="profilContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.dateNaissance" for="field_dateNaissance">Date Naissance</label>
          <div class="input-group">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="text"
              class="form-control"
              name="dateNaissance"
              ngbDatepicker
              #dateNaissanceDp="ngbDatepicker"
              formControlName="dateNaissance"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.boursier" for="field_boursier">Boursier</label>
          <input type="checkbox" class="form-check" name="boursier" id="field_boursier" data-cy="boursier" formControlName="boursier" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.daaraOrigine" for="field_daaraOrigine">Daara Origine</label>
          <input
            type="text"
            class="form-control"
            name="daaraOrigine"
            id="field_daaraOrigine"
            data-cy="daaraOrigine"
            formControlName="daaraOrigine"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.etatSante" for="field_etatSante">Etat Sante</label>
          <select class="form-control" name="etatSante" formControlName="etatSante" id="field_etatSante" data-cy="etatSante">
            <option [ngValue]="null">{{ 'dmnApp.EnumEtatSante.null' | translate }}</option>
            <option *ngFor="let enumEtatSante of enumEtatSanteValues" [value]="enumEtatSante">
              {{ 'dmnApp.EnumEtatSante.' + enumEtatSante | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.titeur" for="field_titeur">Titeur</label>
          <input type="text" class="form-control" name="titeur" id="field_titeur" data-cy="titeur" formControlName="titeur" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.telephoneTiteur" for="field_telephoneTiteur">Telephone Titeur</label>
          <input
            type="text"
            class="form-control"
            name="telephoneTiteur"
            id="field_telephoneTiteur"
            data-cy="telephoneTiteur"
            formControlName="telephoneTiteur"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="dmnApp.membre.xamXam" for="field_xamXams">Xam Xam</label>
          <select class="form-control" id="field_xamXams" data-cy="xamXam" multiple name="xamXams" formControlName="xamXams">
            <option
              [ngValue]="getSelectedXamXam(xamXamOption, editForm.get('xamXams')!.value)"
              *ngFor="let xamXamOption of xamXamsSharedCollection; trackBy: trackXamXamById"
            >
              {{ xamXamOption.libelle }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['xamXams'])!.invalid && (editForm.get(['xamXams'])!.dirty || editForm.get(['xamXams'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['xamXams'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.niveauXamXam" for="field_niveauXamXam">Niveau Xam Xam</label>
          <select class="form-control" id="field_niveauXamXam" data-cy="niveauXamXam" name="niveauXamXam" formControlName="niveauXamXam">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                niveauXamXamOption.id === editForm.get('niveauXamXam')!.value?.id ? editForm.get('niveauXamXam')!.value : niveauXamXamOption
              "
              *ngFor="let niveauXamXamOption of niveauXamXamsSharedCollection; trackBy: trackNiveauXamXamById"
            >
              {{ niveauXamXamOption.libelle }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.profession" for="field_profession">Profession</label>
          <select class="form-control" id="field_profession" data-cy="profession" name="profession" formControlName="profession">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                professionOption.id === editForm.get('profession')!.value?.id ? editForm.get('profession')!.value : professionOption
              "
              *ngFor="let professionOption of professionsSharedCollection; trackBy: trackProfessionById"
            >
              {{ professionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.categorie" for="field_categorie">Categorie</label>
          <select class="form-control" id="field_categorie" data-cy="categorie" name="categorie" formControlName="categorie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="categorieOption.id === editForm.get('categorie')!.value?.id ? editForm.get('categorie')!.value : categorieOption"
              *ngFor="let categorieOption of categoriesSharedCollection; trackBy: trackCategorieById"
            >
              {{ categorieOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.coran" for="field_coran">Coran</label>
          <select class="form-control" id="field_coran" data-cy="coran" name="coran" formControlName="coran">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="coranOption.id === editForm.get('coran')!.value?.id ? editForm.get('coran')!.value : coranOption"
              *ngFor="let coranOption of coransSharedCollection; trackBy: trackCoranById"
            >
              {{ coranOption.libelle }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membre.departement" for="field_departement">Departement</label>
          <select class="form-control" id="field_departement" data-cy="departement" name="departement" formControlName="departement">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                departementOption.id === editForm.get('departement')!.value?.id ? editForm.get('departement')!.value : departementOption
              "
              *ngFor="let departementOption of departementsSharedCollection; trackBy: trackDepartementById"
            >
              {{ departementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
