<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="membreEntite">
      <h2 data-cy="membreEntiteDetailsHeading"><span jhiTranslate="dmnApp.membreEntite.detail.title">Membre Entite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ membreEntite.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreEntite.actif">Actif</span></dt>
        <dd>
          <span>{{ membreEntite.actif }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreEntite.membre">Membre</span></dt>
        <dd>
          <div *ngIf="membreEntite.membre">
            <a [routerLink]="['/membre', membreEntite.membre?.id, 'view']">{{ membreEntite.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreEntite.entite">Entite</span></dt>
        <dd>
          <div *ngIf="membreEntite.entite">
            <a [routerLink]="['/entite', membreEntite.entite?.id, 'view']">{{ membreEntite.entite?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/membre-entite', membreEntite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
