<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="membreKourel">
      <h2 data-cy="membreKourelDetailsHeading"><span jhiTranslate="dmnApp.membreKourel.detail.title">Membre Kourel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ membreKourel.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreKourel.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ membreKourel.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreKourel.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ membreKourel.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreKourel.actif">Actif</span></dt>
        <dd>
          <span>{{ membreKourel.actif }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreKourel.membre">Membre</span></dt>
        <dd>
          <div *ngIf="membreKourel.membre">
            <a [routerLink]="['/membre', membreKourel.membre?.id, 'view']">{{ membreKourel.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membreKourel.kourel">Kourel</span></dt>
        <dd>
          <div *ngIf="membreKourel.kourel">
            <a [routerLink]="['/kourel', membreKourel.kourel?.id, 'view']">{{ membreKourel.kourel?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/membre-kourel', membreKourel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
