<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="membre">
      <h2 data-cy="membreDetailsHeading"><span jhiTranslate="dmnApp.membre.detail.title">Membre</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ membre.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.nom">Nom</span></dt>
        <dd>
          <span>{{ membre.nom }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.prenom">Prenom</span></dt>
        <dd>
          <span>{{ membre.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.telephone">Telephone</span></dt>
        <dd>
          <span>{{ membre.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dmnApp.EnumTypeSexe.' + membre.sexe }}">{{ membre.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.email">Email</span></dt>
        <dd>
          <span>{{ membre.email }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.cni">Cni</span></dt>
        <dd>
          <span>{{ membre.cni }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.adressDakar">Adress Dakar</span></dt>
        <dd>
          <span>{{ membre.adressDakar }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.situationMatrimoniale">Situation Matrimoniale</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dmnApp.EnumCivilite.' + membre.situationMatrimoniale }}">{{ membre.situationMatrimoniale }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.adresse">Adresse</span></dt>
        <dd>
          <span>{{ membre.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.adresseVacance">Adresse Vacance</span></dt>
        <dd>
          <span>{{ membre.adresseVacance }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.profil">Profil</span></dt>
        <dd>
          <div *ngIf="membre.profil">
            <a (click)="openFile(membre.profil, membre.profilContentType)">
              <img [src]="'data:' + membre.profilContentType + ';base64,' + membre.profil" style="max-width: 100%" alt="membre image" />
            </a>
            {{ membre.profilContentType }}, {{ byteSize(membre.profil) }}
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ membre.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.boursier">Boursier</span></dt>
        <dd>
          <span>{{ membre.boursier }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.daaraOrigine">Daara Origine</span></dt>
        <dd>
          <span>{{ membre.daaraOrigine }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.etatSante">Etat Sante</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dmnApp.EnumEtatSante.' + membre.etatSante }}">{{ membre.etatSante }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.titeur">Titeur</span></dt>
        <dd>
          <span>{{ membre.titeur }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.telephoneTiteur">Telephone Titeur</span></dt>
        <dd>
          <span>{{ membre.telephoneTiteur }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.xamXam">Xam Xam</span></dt>
        <dd>
          <span *ngFor="let xamXam of membre.xamXams; let last = last">
            <a [routerLink]="['/xam-xam', xamXam?.id, 'view']">{{ xamXam.libelle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.niveauXamXam">Niveau Xam Xam</span></dt>
        <dd>
          <div *ngIf="membre.niveauXamXam">
            <a [routerLink]="['/niveau-xam-xam', membre.niveauXamXam?.id, 'view']">{{ membre.niveauXamXam?.libelle }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.profession">Profession</span></dt>
        <dd>
          <div *ngIf="membre.profession">
            <a [routerLink]="['/profession', membre.profession?.id, 'view']">{{ membre.profession?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.categorie">Categorie</span></dt>
        <dd>
          <div *ngIf="membre.categorie">
            <a [routerLink]="['/categorie', membre.categorie?.id, 'view']">{{ membre.categorie?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.coran">Coran</span></dt>
        <dd>
          <div *ngIf="membre.coran">
            <a [routerLink]="['/coran', membre.coran?.id, 'view']">{{ membre.coran?.libelle }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.departement">Departement</span></dt>
        <dd>
          <div *ngIf="membre.departement">
            <a [routerLink]="['/departement', membre.departement?.id, 'view']">{{ membre.departement?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.membre.user">User</span></dt>
        <dd>
          <span>{{ membre.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/membre', membre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
