<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="enseignement">
      <h2 data-cy="enseignementDetailsHeading"><span jhiTranslate="dmnApp.enseignement.detail.title">Enseignement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ enseignement.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ enseignement.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ enseignement.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.encours">Encours</span></dt>
        <dd>
          <span>{{ enseignement.encours }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.membre">Membre</span></dt>
        <dd>
          <div *ngIf="enseignement.membre">
            <a [routerLink]="['/membre', enseignement.membre?.id, 'view']">{{ enseignement.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.coran">Coran</span></dt>
        <dd>
          <div *ngIf="enseignement.coran">
            <a [routerLink]="['/coran', enseignement.coran?.id, 'view']">{{ enseignement.coran?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.enseignement.xamXam">Xam Xam</span></dt>
        <dd>
          <div *ngIf="enseignement.xamXam">
            <a [routerLink]="['/xam-xam', enseignement.xamXam?.id, 'view']">{{ enseignement.xamXam?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/enseignement', enseignement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
