<div>
  <h2 id="page-heading" data-cy="EnseignementHeading">
    <span jhiTranslate="dmnApp.enseignement.home.title">Enseignements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmnApp.enseignement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-enseignement"
        [routerLink]="['/enseignement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmnApp.enseignement.home.createLabel"> Create a new Enseignement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="enseignements?.length === 0">
    <span jhiTranslate="dmnApp.enseignement.home.notFound">No enseignements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="enseignements && enseignements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="dmnApp.enseignement.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="dmnApp.enseignement.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="encours">
            <span jhiTranslate="dmnApp.enseignement.encours">Encours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="membre.id">
            <span jhiTranslate="dmnApp.enseignement.membre">Membre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coran.id">
            <span jhiTranslate="dmnApp.enseignement.coran">Coran</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="xamXam.id">
            <span jhiTranslate="dmnApp.enseignement.xamXam">Xam Xam</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enseignement of enseignements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/enseignement', enseignement.id, 'view']">{{ enseignement.id }}</a>
          </td>
          <td>{{ enseignement.dateDebut | formatMediumDate }}</td>
          <td>{{ enseignement.dateFin | formatMediumDate }}</td>
          <td>{{ enseignement.encours }}</td>
          <td>
            <div *ngIf="enseignement.membre">
              <a [routerLink]="['/membre', enseignement.membre?.id, 'view']">{{ enseignement.membre?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="enseignement.coran">
              <a [routerLink]="['/coran', enseignement.coran?.id, 'view']">{{ enseignement.coran?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="enseignement.xamXam">
              <a [routerLink]="['/xam-xam', enseignement.xamXam?.id, 'view']">{{ enseignement.xamXam?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/enseignement', enseignement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/enseignement', enseignement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(enseignement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="enseignements && enseignements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
