<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kourel">
      <h2 data-cy="kourelDetailsHeading"><span jhiTranslate="dmnApp.kourel.detail.title">Kourel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kourel.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.kourel.nom">Nom</span></dt>
        <dd>
          <span>{{ kourel.nom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/kourel', kourel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
