<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mensualite">
      <h2 data-cy="mensualiteDetailsHeading"><span jhiTranslate="dmnApp.mensualite.detail.title">Mensualite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mensualite.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ mensualite.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ mensualite.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.actif">Actif</span></dt>
        <dd>
          <span>{{ mensualite.actif }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.montant">Montant</span></dt>
        <dd>
          <span>{{ mensualite.montant }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.typeMensualite">Type Mensualite</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dmnApp.EnumTypeMensualite.' + mensualite.typeMensualite }}">{{ mensualite.typeMensualite }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.mensualite.categorie">Categorie</span></dt>
        <dd>
          <div *ngIf="mensualite.categorie">
            <a [routerLink]="['/categorie', mensualite.categorie?.id, 'view']">{{ mensualite.categorie?.libelle }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mensualite', mensualite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
