<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-enseignement-heading" data-cy="EnseignementCreateUpdateHeading" jhiTranslate="dmnApp.enseignement.home.createOrEditLabel">
        Create or edit a Enseignement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateDebut')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.encours" for="field_encours">Encours</label>
          <input type="checkbox" class="form-check" name="encours" id="field_encours" data-cy="encours" formControlName="encours" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.membre" for="field_membre">Membre</label>
          <select class="form-control" id="field_membre" data-cy="membre" name="membre" formControlName="membre">
            <option *ngIf="!editForm.get('membre')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="membreOption.id === editForm.get('membre')!.value?.id ? editForm.get('membre')!.value : membreOption"
              *ngFor="let membreOption of membresSharedCollection; trackBy: trackMembreById"
            >
              {{ membreOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['membre'])!.invalid && (editForm.get(['membre'])!.dirty || editForm.get(['membre'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['membre'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.coran" for="field_coran">Coran</label>
          <select class="form-control" id="field_coran" data-cy="coran" name="coran" formControlName="coran">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="coranOption.id === editForm.get('coran')!.value?.id ? editForm.get('coran')!.value : coranOption"
              *ngFor="let coranOption of coransSharedCollection; trackBy: trackCoranById"
            >
              {{ coranOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.enseignement.xamXam" for="field_xamXam">Xam Xam</label>
          <select class="form-control" id="field_xamXam" data-cy="xamXam" name="xamXam" formControlName="xamXam">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="xamXamOption.id === editForm.get('xamXam')!.value?.id ? editForm.get('xamXam')!.value : xamXamOption"
              *ngFor="let xamXamOption of xamXamsSharedCollection; trackBy: trackXamXamById"
            >
              {{ xamXamOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
