<div>
  <h2 id="page-heading" data-cy="MensualiteHeading">
    <span jhiTranslate="dmnApp.mensualite.home.title">Mensualites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmnApp.mensualite.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mensualite"
        [routerLink]="['/mensualite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmnApp.mensualite.home.createLabel"> Create a new Mensualite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mensualites?.length === 0">
    <span jhiTranslate="dmnApp.mensualite.home.notFound">No mensualites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mensualites && mensualites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="dmnApp.mensualite.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="dmnApp.mensualite.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actif"><span jhiTranslate="dmnApp.mensualite.actif">Actif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="dmnApp.mensualite.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeMensualite">
            <span jhiTranslate="dmnApp.mensualite.typeMensualite">Type Mensualite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie.libelle">
            <span jhiTranslate="dmnApp.mensualite.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensualite of mensualites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mensualite', mensualite.id, 'view']">{{ mensualite.id }}</a>
          </td>
          <td>{{ mensualite.dateDebut | formatMediumDate }}</td>
          <td>{{ mensualite.dateFin | formatMediumDate }}</td>
          <td>{{ mensualite.actif }}</td>
          <td>{{ mensualite.montant }}</td>
          <td jhiTranslate="{{ 'dmnApp.EnumTypeMensualite.' + mensualite.typeMensualite }}">{{ mensualite.typeMensualite }}</td>
          <td>
            <div *ngIf="mensualite.categorie">
              <a [routerLink]="['/categorie', mensualite.categorie?.id, 'view']">{{ mensualite.categorie?.libelle }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mensualite', mensualite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mensualite', mensualite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mensualite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mensualites && mensualites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
