<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-xam-xam-heading" data-cy="XamXamCreateUpdateHeading" jhiTranslate="dmnApp.xamXam.home.createOrEditLabel">
        Create or edit a Xam Xam
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.xamXam.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('libelle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.xamXam.niveauXamXam" for="field_niveauXamXam">Niveau Xam Xam</label>
          <select class="form-control" id="field_niveauXamXam" data-cy="niveauXamXam" name="niveauXamXam" formControlName="niveauXamXam">
            <option *ngIf="!editForm.get('niveauXamXam')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                niveauXamXamOption.id === editForm.get('niveauXamXam')!.value?.id ? editForm.get('niveauXamXam')!.value : niveauXamXamOption
              "
              *ngFor="let niveauXamXamOption of niveauXamXamsSharedCollection; trackBy: trackNiveauXamXamById"
            >
              {{ niveauXamXamOption.libelle }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['niveauXamXam'])!.invalid && (editForm.get(['niveauXamXam'])!.dirty || editForm.get(['niveauXamXam'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['niveauXamXam'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
