<div>
  <h2 id="page-heading" data-cy="MembreHeading">
    <span jhiTranslate="dmnApp.membre.home.title">Membres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmnApp.membre.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-membre"
        [routerLink]="['/membre/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmnApp.membre.home.createLabel"> Create a new Membre </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="membres?.length === 0">
    <span jhiTranslate="dmnApp.membre.home.notFound">No membres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="membres && membres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="dmnApp.membre.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom"><span jhiTranslate="dmnApp.membre.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="dmnApp.membre.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe"><span jhiTranslate="dmnApp.membre.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="dmnApp.membre.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cni"><span jhiTranslate="dmnApp.membre.cni">Cni</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adressDakar">
            <span jhiTranslate="dmnApp.membre.adressDakar">Adress Dakar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="situationMatrimoniale">
            <span jhiTranslate="dmnApp.membre.situationMatrimoniale">Situation Matrimoniale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse"><span jhiTranslate="dmnApp.membre.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adresseVacance">
            <span jhiTranslate="dmnApp.membre.adresseVacance">Adresse Vacance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profil"><span jhiTranslate="dmnApp.membre.profil">Profil</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateNaissance">
            <span jhiTranslate="dmnApp.membre.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="boursier">
            <span jhiTranslate="dmnApp.membre.boursier">Boursier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="daaraOrigine">
            <span jhiTranslate="dmnApp.membre.daaraOrigine">Daara Origine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etatSante">
            <span jhiTranslate="dmnApp.membre.etatSante">Etat Sante</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="titeur"><span jhiTranslate="dmnApp.membre.titeur">Titeur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephoneTiteur">
            <span jhiTranslate="dmnApp.membre.telephoneTiteur">Telephone Titeur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="niveauXamXam.libelle">
            <span jhiTranslate="dmnApp.membre.niveauXamXam">Niveau Xam Xam</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profession.id">
            <span jhiTranslate="dmnApp.membre.profession">Profession</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie.id">
            <span jhiTranslate="dmnApp.membre.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coran.libelle">
            <span jhiTranslate="dmnApp.membre.coran">Coran</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departement.id">
            <span jhiTranslate="dmnApp.membre.departement">Departement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login"><span jhiTranslate="dmnApp.membre.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let membre of membres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/membre', membre.id, 'view']">{{ membre.id }}</a>
          </td>
          <td>{{ membre.nom }}</td>
          <td>{{ membre.prenom }}</td>
          <td>{{ membre.telephone }}</td>
          <td jhiTranslate="{{ 'dmnApp.EnumTypeSexe.' + membre.sexe }}">{{ membre.sexe }}</td>
          <td>{{ membre.email }}</td>
          <td>{{ membre.cni }}</td>
          <td>{{ membre.adressDakar }}</td>
          <td jhiTranslate="{{ 'dmnApp.EnumCivilite.' + membre.situationMatrimoniale }}">{{ membre.situationMatrimoniale }}</td>
          <td>{{ membre.adresse }}</td>
          <td>{{ membre.adresseVacance }}</td>
          <td>
            <a *ngIf="membre.profil" (click)="openFile(membre.profil, membre.profilContentType)">
              <img [src]="'data:' + membre.profilContentType + ';base64,' + membre.profil" style="max-height: 30px" alt="membre image" />
            </a>
            <span *ngIf="membre.profil">{{ membre.profilContentType }}, {{ byteSize(membre.profil) }}</span>
          </td>
          <td>{{ membre.dateNaissance | formatMediumDate }}</td>
          <td>{{ membre.boursier }}</td>
          <td>{{ membre.daaraOrigine }}</td>
          <td jhiTranslate="{{ 'dmnApp.EnumEtatSante.' + membre.etatSante }}">{{ membre.etatSante }}</td>
          <td>{{ membre.titeur }}</td>
          <td>{{ membre.telephoneTiteur }}</td>
          <td>
            <div *ngIf="membre.niveauXamXam">
              <a [routerLink]="['/niveau-xam-xam', membre.niveauXamXam?.id, 'view']">{{ membre.niveauXamXam?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="membre.profession">
              <a [routerLink]="['/profession', membre.profession?.id, 'view']">{{ membre.profession?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="membre.categorie">
              <a [routerLink]="['/categorie', membre.categorie?.id, 'view']">{{ membre.categorie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="membre.coran">
              <a [routerLink]="['/coran', membre.coran?.id, 'view']">{{ membre.coran?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="membre.departement">
              <a [routerLink]="['/departement', membre.departement?.id, 'view']">{{ membre.departement?.id }}</a>
            </div>
          </td>
          <td>
            {{ membre.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/membre', membre.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/membre', membre.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(membre)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="membres && membres.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
