<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="president">
      <h2 data-cy="presidentDetailsHeading"><span jhiTranslate="dmnApp.president.detail.title">President</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ president.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.president.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ president.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.president.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ president.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.president.actif">Actif</span></dt>
        <dd>
          <span>{{ president.actif }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.president.membre">Membre</span></dt>
        <dd>
          <div *ngIf="president.membre">
            <a [routerLink]="['/membre', president.membre?.id, 'view']">{{ president.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.president.entite">Entite</span></dt>
        <dd>
          <div *ngIf="president.entite">
            <a [routerLink]="['/entite', president.entite?.id, 'view']">{{ president.entite?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/president', president.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
