<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="coran">
      <h2 data-cy="coranDetailsHeading"><span jhiTranslate="dmnApp.coran.detail.title">Coran</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coran.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.coran.libelle">Libelle</span></dt>
        <dd>
          <span>{{ coran.libelle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coran', coran.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
