<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="entite">
      <h2 data-cy="entiteDetailsHeading"><span jhiTranslate="dmnApp.entite.detail.title">Entite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ entite.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.entite.nom">Nom</span></dt>
        <dd>
          <span>{{ entite.nom }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.entite.description">Description</span></dt>
        <dd>
          <span>{{ entite.description }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.entite.typeEntite">Type Entite</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dmnApp.EnumTypeEntite.' + entite.typeEntite }}">{{ entite.typeEntite }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entite', entite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
