<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-membre-entite-heading"
        data-cy="MembreEntiteCreateUpdateHeading"
        jhiTranslate="dmnApp.membreEntite.home.createOrEditLabel"
      >
        Create or edit a Membre Entite
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreEntite.actif" for="field_actif">Actif</label>
          <input type="checkbox" class="form-check" name="actif" id="field_actif" data-cy="actif" formControlName="actif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreEntite.membre" for="field_membre">Membre</label>
          <select class="form-control" id="field_membre" data-cy="membre" name="membre" formControlName="membre">
            <option *ngIf="!editForm.get('membre')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="membreOption.id === editForm.get('membre')!.value?.id ? editForm.get('membre')!.value : membreOption"
              *ngFor="let membreOption of membresSharedCollection; trackBy: trackMembreById"
            >
              {{ membreOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['membre'])!.invalid && (editForm.get(['membre'])!.dirty || editForm.get(['membre'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['membre'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreEntite.entite" for="field_entite">Entite</label>
          <select class="form-control" id="field_entite" data-cy="entite" name="entite" formControlName="entite">
            <option *ngIf="!editForm.get('entite')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="entiteOption.id === editForm.get('entite')!.value?.id ? editForm.get('entite')!.value : entiteOption"
              *ngFor="let entiteOption of entitesSharedCollection; trackBy: trackEntiteById"
            >
              {{ entiteOption.nom }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['entite'])!.invalid && (editForm.get(['entite'])!.dirty || editForm.get(['entite'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['entite'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
