<div>
  <h2 id="page-heading" data-cy="CaisseMoisHeading">
    <span jhiTranslate="dmnApp.caisseMois.home.title">Caisse Mois</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmnApp.caisseMois.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caisse-mois"
        [routerLink]="['/caisse-mois/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmnApp.caisseMois.home.createLabel"> Create a new Caisse Mois </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="caisseMois?.length === 0">
    <span jhiTranslate="dmnApp.caisseMois.home.notFound">No caisseMois found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="caisseMois && caisseMois.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="dmnApp.caisseMois.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="dmnApp.caisseMois.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valide">
            <span jhiTranslate="dmnApp.caisseMois.valide">Valide</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mensualite.id">
            <span jhiTranslate="dmnApp.caisseMois.mensualite">Mensualite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="membre.id">
            <span jhiTranslate="dmnApp.caisseMois.membre">Membre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="dmnApp.caisseMois.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caisseMois of caisseMois; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/caisse-mois', caisseMois.id, 'view']">{{ caisseMois.id }}</a>
          </td>
          <td>{{ caisseMois.date | formatMediumDate }}</td>
          <td>{{ caisseMois.montant }}</td>
          <td>{{ caisseMois.valide }}</td>
          <td>
            <div *ngIf="caisseMois.mensualite">
              <a [routerLink]="['/mensualite', caisseMois.mensualite?.id, 'view']">{{ caisseMois.mensualite?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="caisseMois.membre">
              <a [routerLink]="['/membre', caisseMois.membre?.id, 'view']">{{ caisseMois.membre?.id }}</a>
            </div>
          </td>
          <td>
            {{ caisseMois.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/caisse-mois', caisseMois.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/caisse-mois', caisseMois.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(caisseMois)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="caisseMois && caisseMois.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
