<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="caisseMois">
      <h2 data-cy="caisseMoisDetailsHeading"><span jhiTranslate="dmnApp.caisseMois.detail.title">Caisse Mois</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ caisseMois.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.date">Date</span></dt>
        <dd>
          <span>{{ caisseMois.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.montant">Montant</span></dt>
        <dd>
          <span>{{ caisseMois.montant }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.valide">Valide</span></dt>
        <dd>
          <span>{{ caisseMois.valide }}</span>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.mensualite">Mensualite</span></dt>
        <dd>
          <div *ngIf="caisseMois.mensualite">
            <a [routerLink]="['/mensualite', caisseMois.mensualite?.id, 'view']">{{ caisseMois.mensualite?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.membre">Membre</span></dt>
        <dd>
          <div *ngIf="caisseMois.membre">
            <a [routerLink]="['/membre', caisseMois.membre?.id, 'view']">{{ caisseMois.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dmnApp.caisseMois.user">User</span></dt>
        <dd>
          <span>{{ caisseMois.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/caisse-mois', caisseMois.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
