<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-membre-kourel-heading"
        data-cy="MembreKourelCreateUpdateHeading"
        jhiTranslate="dmnApp.membreKourel.home.createOrEditLabel"
      >
        Create or edit a Membre Kourel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreKourel.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreKourel.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreKourel.actif" for="field_actif">Actif</label>
          <input type="checkbox" class="form-check" name="actif" id="field_actif" data-cy="actif" formControlName="actif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreKourel.membre" for="field_membre">Membre</label>
          <select class="form-control" id="field_membre" data-cy="membre" name="membre" formControlName="membre">
            <option *ngIf="!editForm.get('membre')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="membreOption.id === editForm.get('membre')!.value?.id ? editForm.get('membre')!.value : membreOption"
              *ngFor="let membreOption of membresSharedCollection; trackBy: trackMembreById"
            >
              {{ membreOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['membre'])!.invalid && (editForm.get(['membre'])!.dirty || editForm.get(['membre'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['membre'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dmnApp.membreKourel.kourel" for="field_kourel">Kourel</label>
          <select class="form-control" id="field_kourel" data-cy="kourel" name="kourel" formControlName="kourel">
            <option *ngIf="!editForm.get('kourel')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="kourelOption.id === editForm.get('kourel')!.value?.id ? editForm.get('kourel')!.value : kourelOption"
              *ngFor="let kourelOption of kourelsSharedCollection; trackBy: trackKourelById"
            >
              {{ kourelOption.nom }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['kourel'])!.invalid && (editForm.get(['kourel'])!.dirty || editForm.get(['kourel'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['kourel'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
